@import '../../../App.scss';

.MainClientBlock {
	@extend .Container;
	margin-top: 108px;
	margin-bottom: 157px;
	
	.MainClientBlock_comment {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;

		gap: 30px;

		margin-top: 30px;
	}
}
